.container2 {
    text-align: justify;

}

.box {
    display: inline-block;
    vertical-align: top;
}

    .box__delete {
        background-image: url(../images/box__delete.png);
    }

.under{
    display:inline-block;
    width:100%;
}